.alt-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 20px 25px 25px;
}
.alt-screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
.alt-screen-header__column:first-child {
  margin-right: auto;
}
.alt-screen-header__column:last-child {
  margin-left: auto;
}
